﻿label {
	font-family: "Traditional Arabic";
	font-size: large;
	font-weight: bold;
	text-align: center;
}
.preview {
line-height:200%;
}
.main_div {
	width: 550px;
	margin: 0 auto;
	direction:rtl;
}
input {
	font-family: "traditional Arabic";
	font-size: medium;
	font-weight: lighter;
}
